apiVersion: apps/v1
kind: Deployment
metadata:
  name: mon-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mon-app
  template:
    metadata:
      labels:
        app: mon-app
    spec:
      containers:
      - name: mon-app
        image: samgeek/mon-app:0624020fc48955f7211cb1f0e32a72ca902d5f8c
        ports:
        - containerPort: 8000