apiVersion: apps/v1
kind: Deployment
metadata:
  name: mon-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mon-app
  template:
    metadata:
      labels:
        app: mon-app
    spec:
      containers:
      - name: mon-app
        image: samgeek/mon-app:035ab7f3f1f1603fb9ab5249c31f35a811c58310
        ports:
        - containerPort: 8000