name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # On utilise le SHA du commit pour avoir un tag unique
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mon-app:${{ github.sha }}, ${{ secrets.DOCKERHUB_USERNAME }}/mon-app:latest

      - name: Update GitOps Repo
        env:
            MY_TOKEN: ${{ secrets.GIT_TOKEN }}
        run: |
          # 1. Configuration de Git
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          
          # 2. Clone du dépôt GitOps (remplace SamGeek par ton user si besoin)
          git clone https://${{ secrets.GIT_TOKEN }}@github.com/SamGeek/mon-app-gitops.git
          cd mon-app-gitops
          
          # 3. Mise à jour du tag de l'image dans le YAML
          sed -i "s|image: .*|image: ${{ secrets.DOCKERHUB_USERNAME }}/mon-app:${{ github.sha }}|g" k8s/deployment.yaml
          
          # 4. Push des modifications
          git add k8s/deployment.yaml
          git commit -m "Update image to ${{ github.sha }} [skip ci]"
          git push